downsampled/
data/
captured/
client_secret.json
clip/
clouds/
*.mp4
client_secret*
test.html
.env 
tmp/ 
*.coverage.*
.coverage
mlruns/
testing/
/*.mp4
.pytest*
actions/
htmlcov/
node_modules/.cache
clip/