*, *::before, *::after {
  box-sizing: border-box;

}

html, body{
  height: 100vh;
  width: 100vw;

}

button, input {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.home-link { 
  width: 60px;
  display: inline-block;
  height: 60px;
}

.main-grid { 
  display: grid;
  grid-template-columns: 4em auto;
  grid-template-rows: 60px auto;
  height: 100vh;
  grid-template-areas: 
  "topbar topbar"
  "main main";
}

.main-view{
  grid-area: main;
}

.sidebar {
  grid-area: sidebar;
  background-color: black; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
}

.topbar {
  grid-area: topbar;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  background: rgb(57 85 110);
}

.right-icons, 
.left-icons {
  display: flex;
  gap: 30px;
  align-items: center;
}

.right-icons {
  justify-content: end;
}

.left-icons {
  justify-content: start;
}


.background-gradient {
  height: 100%;
  width: 100%;
  background: rgb(54,85,112);
  background: -moz-linear-gradient(180deg, rgba(54,85,112,1) 5%, rgba(75,121,161,1) 25%, rgba(99,141,193,1) 45%, rgba(208,227,251,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(54,85,112,1) 5%, rgba(75,121,161,1) 25%, rgba(99,141,193,1) 45%, rgba(208,227,251,1) 100%);
  background: linear-gradient(180deg, rgba(54,85,112,1) 5%, rgba(75,121,161,1) 25%, rgba(99,141,193,1) 45%, rgba(208,227,251,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#365570",endColorstr="#d0e3fb",GradientType=1);
}

div.bottom-panel {
  height: calc(100vh - 50% - 60px);
  width: 100%;
  display: block;
}

.cloud-logo {
  fill: rgb(198, 128, 0);
  height: 50px;
  width: 50px;
  margin-top: 10px;
}

.logo-wrapper {
  height: fit-content;
  width: fit-content;
}

.sidebar-rel {
  position: absolute;
  height: 100%;
  width: 100%;
}

.sidebar-list.wrapper {
  display: block;
  height: 70%;
}

.sidebar-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.yt-link {
  display: flex;
  justify-content: center;
}

.yt-link > a {
  max-height: 40px;
  max-width: 40px;
}

svg.yt-icon {
  max-height: inherit;
  max-width: inherit;
  fill: rgb(181, 23, 23);
}
.yt-icon > path#play{
  fill: white
}


.sidebar-list > li {
  list-style-type: none;
}


.sidebar-link{
  display: block;
  height: fit-content;
  width: fit-content;
}

.actions-btn {
  border: none;
  max-height: 40px;
  max-width: 40px;
  background: transparent;
}

.actions-btn.actions {
  position: relative;
}

.actions-icon {
  height: 40px;
  width: 40px;
  background-color: transparent;
  fill: #b3b3b3 !important;
}

.action.icon {
  height: 50px;
  width: 50px;
  fill: black;
}

.library-icon {
  height: 30px;
  width: 35px;
  fill: #b3b3b3;
}

.actions-btn.actions {
  position: relative;
}

.actions-after {
  position: absolute;
  height: 400px;
  width: 300px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 400ms cubic-bezier(0, 1.19, 0.9, 1.86);
  background-color:aliceblue;
  display: grid;
  grid-template-rows: 100px auto;
}

.actions-main {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-evenly;
  gap: 15px;
  padding-top: 20px;
}

.actions.main-link {
  height: 50px;
  width: 50px;
}

.active {
  visibility: visible !important;
  opacity: 1 !important;
}

.actions.main-link svg { 
  fill: rgba(87, 94, 99, 0.8);
}

.quick-actions.rows {
  display: grid;
  justify-content: start;
  align-items: center;
}



.actions-btn.actions:focus .actions-after,
.actions-btn.actions:focus-within .actions-after a:hover {
  opacity: 1 !important;
  visibility: visible !important;
}

.sky-view {
  height: 50%;
}

.star-window {
  height: 75%;
}

.stars.rel {
  position: relative;
}

.star {
  height: 5px;
  width: 5px;
  position: absolute;
  background-color: white;
}

.star.s1 {
  top: 20px;
  left: 10px
}

.star.s2 {
  top:50px;
  left: 40px;
}

.outlet-refresh {
  position: absolute;
  width: calc(100vw - 4em);
  transform: translateX(4em);
  overflow: hidden;
}

.outlet-refresh > div.container {
  height: 100vh;
  width: 100vw;
}

.view-refresh {
  height: calc(100vh - 60px);
  width: calc(100vw - 4em);
  transform: translateY(60px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-window.popup {
  background-color: whitesmoke;
  border-radius: 3%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 70%;
  color: black;
  position: relative;
  z-index: 10;
  display: flex;
  width: 80%;
  max-width: 1030px;

}

.vid-padding {
  padding: 10px;
  position: relative;
}

.player-window {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-row {
  height: 100%;
  max-height: calc(100% - 570px);
  align-items: center;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  justify-content: center;
  gap: 5em;
}

.extras-widget {
  width: 100px;
}

.extras-widget.align-left {
  margin-left: 35px;
}

.window-exit {
  position: absolute;
  top: 0;
  right: 0;

}

.exit-widget {
  position: absolute;
  top: 0;
  right: 0;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  transform: translate(30px, -20px);
  background-color: #b3b3b3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exit-content::after {
  content: 'X';
}

.main-video {
  outline: none;
}


.form-window {
  display: grid;
  height: 75%;
  align-items: center;
  grid-template-columns: 1fr;
  justify-content: center;
  transform: translateY(33px);
  margin: 0 40px;
  border: dashed 3px rgba(54,85,112,1);
  margin: 20px;
  width: 60%;
}

.video-select {
  height: 100%;
  opacity: 0;
  cursor: pointer;
  pointer-events: all;
}

.form-window > span {
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-family: Inter;
  pointer-events: none;
  position: absolute;
  right: 0;
  left: 0;
  transform: translateY(80px);
  align-self: start;
  height: 35%;
  align-items: end;
}

.form-info {
  align-items: center;
  display: flex;
  max-width: 40%;
}

.form-info span {
  height: 75%;
  align-self: center;
  font-weight: bold;

}

.form-info p {
  font-weight: normal;
  color: #4d4c4c;
}

.video-placeholder {
  width: 100px;
  height: 100px;
}

video {
  border-radius: 0.9%;
}

div.extras-widget > video {
  border-radius: 20%
}

.actions-popup {
  border-radius: 10%
}

.library-stage {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  z-index: 10;
  height: calc(75% - 10rem);
  gap: 4rem;

}

.library-shelf {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  gap: 4rem;
}

.library-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.library-item > .item-pad {
  z-index: -10;
  padding: 100px;
}

.library-item.align-left {
  margin-left: 4em;
}

.item-pad {
  position: absolute;
  padding: 90px;
  background-color: #607D8B;
}

.align-end {
  align-self: end;
}

.video-thumbnail {
  height: 180px;
  width: 180px;
}

.circle1 {
  z-index: 1;
}

.circle2 {
  top: 50px;
  left: -40px;
}

.circle3 {
  top: 50px;
  left: -120px;
}

.circle4 {
  top: 30px;
  left: -60px;
}

.circle5 {
  top: 100px;
  left: -150px;
}

.circle6 {
  top: 100px;
  left: 130px;
}

.small-circle {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  position: absolute;
  background-color: white;
}

.mid-circle { 
  height: 150px;
  width: 150px;
  border-radius: 100%;
  position: absolute;
  background-color: white;
}

.large-circle {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  position: absolute;
  background-color: white;
}

#cloud-1 {
  opacity: 0.9;
  transform: scale(1.2);
  left: 120%;
  top: 50px;
}

.big-cloud {
  position: absolute;
  box-shadow: 10px 10px 5px 20px black inset;
}

button:hover .white,
button:focus .white
.white:hover svg,
.white:focus svg {
  fill: #ffff !important;
}

button.settings svg {
  fill: #b3b3b3;
  transition: fill 100ms ease-out;
}

button.settings {
  margin-right: 25px;
  display: flex;
  align-items: center;
  position: relative;
}

.settings-after {
  position: fixed;
  opacity: 0;
  transition: opacity ease 150ms;
  padding: 20px;
}

.settings-after * {
  opacity: 0;
}

button.settings:focus .settings-after,
button.settings:focus-within .settings-after {
  opacity: 1;
  margin-right: 20px;
  background: white;
  border-radius: 5%;
  width: 250px;
  height: 320px;
  top: 60px;
  transform: translateX(-220px);
  display: grid;
}

button.settings:focus-within .settings-after * {
  opacity: unset;
}

.model-choices {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.model-config span {
  align-self: center;  
}

.settings-row.model-config {
  display: grid;
  gap: 10px;
  padding-bottom: 15px;
}

.model-choice {
  background: rgb(219, 230, 239, 0.5);
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.not-captured {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.sidebar svg {
  cursor: default;
}

.auth-input { 
  opacity: 0;
}

div.settings-choice span {
  display: block;
  margin: 15px;
}

.settings-save input {
  background: rgb(190, 198, 205, 0.5);
  border: none;
  padding: 10px;
  width: 180px;
  margin-top: 10px;
  border-radius: 20px;
  transition: background-color ease 100ms;
}

.settings-save input:hover {
  background: rgb(190, 198, 205, 1);
}

.model-choice:hover {
  background: rgb(219, 230, 239, 1);
}

.settings-choice.num-frames input {
  text-align: center;
}

input[type='button'].active {
  background: #5b9bb8 !important;
  transition: background-color 200ms ease;
}

.form-info p {
  width: 80%;
}
