@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Noto+Sans+JP:wght@100;300&family=Roboto:wght@400;700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;

}

html, body{
  height: 100vh;
  width: 100vw;
  }

button, input {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.home-link:hover img {
  filter: unset;
}

a.active svg{
  fill: #fff;
}

.main-grid { 
  display: grid;
  grid-template-columns: 4em auto;
  grid-template-rows: 60px auto;
  height: 100vh;
  grid-template-areas: 
  "topbar topbar"
  "main main";
}

.main-view{
  grid-area: main;
}

.sidebar {
  grid-area: sidebar;
  background-color: black; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
}

.topbar {
  grid-area: topbar;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  }

.right-icons, 
.left-icons {
  display: flex;
  gap: 30px;
  align-items: center;
}

.home-link,
.home-link img { 
  width: 40px;
  display: inline-block;
  height: 40px;
}

.home-link img {
  filter: opacity(0.6);
  transition: filter 200ms ease;
}


.right-icons {
  justify-content: flex-end;
}

div#cloud-counter {
  display: flex;
  flex-direction: column;
}

#cloud-counter span {
  text-align: center;
  font-size: 12px;
}

#cloud-counter.plus-one svg {
  animation: plus_one 900ms linear
}

#cloud-counter svg {
  fill: #b3b3b3;
  }

.left-icons {
  justify-content: flex-start;
  margin-left: 20px;
}

.user {
  height: 35px;
  width: 35px;
}

.user path {
  stroke: #000
}

div.login {
  height: 90%;
  width: 100%;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: show_tree 500ms ease forwards
}

.login input {
  width: 400px;
  height: 35px;
  background: aliceblue;
  opacity: 0.8;
  padding: 20px;
  outline: none;
}

.login,
.login form,
.login label {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login form {
  gap: 4em;
  align-items: center;
  position: relative;
}

.login button.submit-btn {
  transition: background-color 255ms ease;
}

.login button.submit-btn {
  background-color: #06f0876c;
}

.login button.submit-btn:hover {
  background-color: #25f006;
}

.login button.submit-btn:focus {
  scale: 0.9;
}

.login form span {
  position: absolute;
  bottom: 9px;
  right: 0;
  margin-right: -42%;
  text-decoration: underline;
  color: #004b7d;
  cursor: pointer;
  pointer-events: all;
  font-size: 16px;
  user-select: none;
}

.background-gradient {
  height: 100%;
  width: 100%;
  background: rgb(54,85,112);
  background: -moz-linear-gradient(180deg, rgba(54,85,112,1) 5%, rgba(75,121,161,1) 25%, rgba(99,141,193,1) 45%, rgba(208,227,251,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(54,85,112,1) 5%, rgba(75,121,161,1) 25%, rgba(99,141,193,1) 45%, rgba(208,227,251,1) 100%);
  background: linear-gradient(180deg, rgba(54,85,112,1) 5%, rgba(75,121,161,1) 25%, rgba(99,141,193,1) 45%, rgba(208,227,251,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#365570",endColorstr="#d0e3fb",GradientType=1);
}

div.bottom-panel {
  height: calc(100vh - 50% - 60px);
  width: 100%;
  display: block;
}

.cloud-logo {
  fill: rgb(198, 128, 0);
  height: 50px;
  width: 50px;
  margin-top: 10px;
}

.logo-wrapper {
  height: fit-content;
  width: fit-content;
}

.sidebar-rel {
  position: absolute;
  height: 100%;
  width: 100%;
}

.sidebar-list.wrapper {
  display: block;
  height: 70%;
}

.sidebar-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.yt-link {
  display: flex;
  justify-content: center;
}

.yt-link > a {
  max-height: 40px;
  max-width: 40px;
}

svg.yt-icon {
  max-height: inherit;
  max-width: inherit;
  fill: rgb(181, 23, 23);
}
.yt-icon > path#play{
  fill: white
}


.sidebar-list > li {
  list-style-type: none;
}


.sidebar-link{
  display: block;
  height: fit-content;
  width: fit-content;
}

.actions-btn {
  border: none;
  max-height: 40px;
  max-width: 40px;
  background: transparent;
  cursor: pointer;
}

/* .actions-btn:focus {
  animation: btn_bounce 90ms linear forwards
} */

.actions-btn:hover > svg,
.actions-btn:focus > svg {
  fill: #fff !important;
  scale: 1.1;
}

.actions-btn:focus > svg {
  animation: action_spin 180ms linear forwards;
}

.actions-btn svg {
  transition: fill 500ms ease;
}

.actions-btn.actions {
  position: relative;
}

.actions-icon {
  height: auto;
  width: 40px;
  background-color: transparent;
  fill: #b3b3b3;
}

.action.icon {
  height: 50px;
  width: 50px;
  fill: black;
}

.library-icon {
  height: 30px;
  width: 35px;
  fill: #b3b3b3;
  margin-top: 4px;
}

.play-icon {
  position: absolute;
  height: 40px;
  width: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: calc(46% + 3px);
  stroke-width: 5px;
  pointer-events: none;
}

.vid-add {
  width: 100px;
  height: 100px;
  pointer-events: none;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.actions-after {
  position: absolute;
  height: 175px;
  width: 250px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 400ms cubic-bezier(0, 1.19, 0.9, 1.86);
  background-color:aliceblue;
  display: grid;
  align-items: center;
  border-radius: 5%;
}

.actions-main {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-evenly;
  gap: 15px;
  padding-top: 20px;
}

.actions.main-link {
  height: 50px;
  width: 50px;
}

a.action-row {
  display: flex;
  align-items: center;
  gap: 9px;
  text-decoration: none;
  color: black;
}

a.action-row svg {
  height: 40px;
  width: 40px;
}

.action-row span {
  padding-top: 10px;
}

.active {
  visibility: visible !important;
  opacity: 1 !important;
}

.actions.main-link svg { 
  fill: #84a4b6c9;
  stroke: #004870c9;
}

.actions.main-link.extract:first-child:first-child {
  stroke: #004870c9;
  fill: rgba(132, 164, 182, 0.788);
}

.action-row svg,
.action-row path {
  stroke: #004870c9;
  fill: rgba(132, 164, 182, 0.788);
}

.quick-actions.rows {
  display: grid;
  justify-content: flex-start;
  align-items: center;
  padding: 0 17px;
  grid-template-rows: repeat(3, 50px);
  grid-template-columns: 100%;
  font-size: 13px;
  cursor: default;
}

.actions-btn.actions:focus .actions-after,
.actions-btn.actions:focus-within .actions-after a:hover {
  opacity: 1 !important;
  visibility: visible !important;
}

.sky-view {
  height: 50%;
}

.star-window {
  height: 75%;
}

.stars.rel {
  position: relative;
}

.star {
  height: 5px;
  width: 5px;
  position: absolute;
  background-color: white;
}

.star.s1 {
  top: 20px;
  left: 10px
}

.star.s2 {
  top:50px;
  left: 40px;
}

.outlet-refresh {
  position: absolute;
  width: calc(100vw - 4em);
  transform: translateX(4em);
  overflow-x: hidden;
  height: 100vh;
}

.outlet-refresh > div.container {
  height: 100vh;
  width: 100vw;
}

div.error {
  width: 100%;
  justify-content: center;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.error.info {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.not-found.clouds {
  display: flex;
  gap: 10%;
  width: 100%;
  justify-content: center;
}

.rainy-cloud {
  height: 300px;
  scale: 2;
  z-index: -1;
  justify-self: flex-end;
  margin-left: 45px;
}

div.error .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  align-items: center;
  gap: 40px;
}

.error .info span {
  font-weight: 900;
  font-size: 18px;
}

.error .info a {
  font-size: 17px;
}

.view-refresh {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
  width: calc(100vw - 4em);
  transform: translateY(60px);
}

.action-window,
.action-popup {
  background-color: whitesmoke;
  border-radius: 5%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 75%;
  top: 20px;
  color: black;
  position: relative;
  z-index: 10;
  display: flex;
  width: 80%;
  max-width: 1030px;
  animation: window_enter 80ms ease-in-out forwards;
}

.action-window.youtube {
  width: 90% !important;
  justify-content: center;
  max-width: 1090px !important;
position: relative;
}

.livestream-directions {
  font-size: 17px;
  font-weight: 700;
  position: absolute;
  top: 80px;
  color: darkslategray;
}

.action-popup.clouds-display {
  display: grid;
  width: 80%;
  max-width: 1030px;
  grid-template-columns: 1.5fr 1fr;
  column-gap: 30px;
  grid-template-areas: "video form"
                        "extras extras";
}

div.clouds-loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.clouds-loading rect {
  height: 190px;
  width: 35px;
  background: #423e34;
  border-radius: 5%;
}

.no-clouds { 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    opacity: 0;
    animation: show_tree 500ms ease forwards;
}

.not-captured {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

div.feedback {
  grid-area: form;
  gap: 10px;
  display: flex;
  flex-direction: column;
  height: 60%;
  justify-content: center;
  margin-top: 70px;
}

.feedback input[type='text'] {
  background: #dfdfdf;
  width: 80%;
  height: 30px;
  padding-left: 10px;
  font-size: 12px;
}

.feedback span {
  margin-right: 20px;
  font-size: 15px;
  margin-bottom: 15px;
  width: 95%;
}

.feedback-star {
  color: transparent;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.feedback-form input:focus-visible {
  width: 80%;
  outline: none;
}

h4.give-feedback {
  margin-bottom: 0;
  border-bottom: solid 1px #121212;
  padding-bottom: 15px;
  width: 85%;
}

.active-star path {
  fill: #5b9bb8 !important;
}

.feedback-star svg {
  stroke: #4d4c4c;
  fill: currentColor !important;
}

.vid-padding {
  padding: 10px;
  position: absolute;
  width: 100%;
}

.player-window {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-area: video;
}

.player-row {
  height: 100%;
  max-height: calc(100% - 570px);
  align-items: center;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  justify-content: center;
  gap: 5em;
  grid-area: extras;
  justify-self: flex-end;
  margin-right: 30px;
}

.extras-widget {
  width: 100px;
}

.extras-widget.align-left {
  margin-left: 35px;
}

div.blob-link {
  display: flex;
  justify-content: flex-end;
  width: 90%;
}

a.blob-anchor {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin-left: 50%;
}

a.blob-anchor:hover svg {
  scale: 1.1;
}

a.blob-anchor svg {
  height: 40px;
  width: 40px;
  fill: none;
}

.player-row.extras {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-self: center;
  width: 65%;
}

.video-widgets {
  justify-self: flex-end;
  display: grid;
  gap: 60px;
  grid-template-columns: 1fr 1fr;
}

.player-extras.buttons {
  display: grid;
  justify-self: flex-end;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.player-extras.buttons.plural {
  margin-right: -20%;
}

.player-extras.buttons form {
  justify-self: flex-end;
}

.download-cloud svg {
  width: 40px;
  height: 40px;
  fill: none;
}

.player-extras a.download-cloud {
  justify-self: flex-end;
}

.player-extras span {
  text-wrap: nowrap;
  align-items: flex-end;
  margin-top: 15px;
}

.nav-library.view-library {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.download-cloud:hover svg {
  scale: 1.1;

}

.window-exit {
  position: absolute;
  top: 0;
  right: 0;

}

.exit-widget {
  position: absolute;
  top: 0;
  right: 0;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  transform: translate(30px, -20px);
  background-color: #b3b3b3;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.exit-widget:hover {
  background-color: #979595;
}

.window-exit:focus,
.window-exit:focus-within {
  animation: push_btn 100ms linear forwards;
}

.exit-content::after {
  content: 'X';
}

.main-video {
  outline: none;
  margin-left: 30px;
  width: 620px;
  height: 500px;
}


.form-window {
  display: grid;
  height: 70%;
  align-items: center;
  grid-template-columns: 1fr;
  justify-content: center;
  transform: translateY(33px);
  margin: 0 40px;
  border: dashed 3px rgba(54,85,112,1);
  margin: 20px;
  width: 60%;
}

.form-window svg path {
  stroke: rgb(39, 63, 84) !important;
}

.video-select {
  height: 100%;
  opacity: 0;
  cursor: pointer;
  pointer-events: all;
}

.form-window > span {
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-family: Inter;
  pointer-events: none;
  position: absolute;
  right: 0;
  left: 0;
  transform: translateY(80px);
  align-self: flex-start;
  height: 35%;
  align-items: flex-end;
}

.form-info {
  align-items: center;
  display: flex;
  max-width: 40%;
}

.form-info span {
  height: 75%;
  align-self: center;
  font-weight: bold;
  margin-left: 25px;
}

.form-info p {
  font-weight: normal;
  color: #4d4c4c;
}

.video-placeholder {
  width: 100px;
  height: 100px;
}

video {
  border-radius: 0.9%;
}

div.extras-widget > video {
  border-radius: 20%
}

.actions-popup {
  border-radius: 10%
}

.library-stage {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  z-index: 10;
  height: calc(75% - 10rem);
  gap: 4rem;
  opacity: 0;
  animation: show_library 500ms ease forwards;
  margin-right: 60px;
}

.just-captured {
  position: absolute;
  height: 20px;
  width: 20px;
  z-index: 11;
  font-size: 21px;
  color: rgba(0, 0, 0, 0.46);
  animation: float_top 3s linear forwards;
}

.library-shelves {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  gap: 4rem;
  margin: 0 14px;
  position: relative;
  column-gap: 1.7em;
}

.shelves-padding {
  padding-top: 30px;
}

button.select-blobs {
  right: 80px;
  height: 40px;
  top: 80px;
  width: 40px;
}

button.download-blobs {
  pointer-events: all;
  z-index: 10;
  height: 30px;
  width: 30px;
  position: absolute;
  left: 100px;
  top: 5px;
}

button.download-blobs a {
  pointer-events: none;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: transparent;
  cursor: pointer;
}

svg:has( + button.download-blobs) {
  height: 40px;
  width: 40px;
  position: absolute;
  left: 100px;
}

button.delete-clip {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 40px;
  fill: none;
  cursor: pointer;
}

div.select-flex {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  position: absolute;
  top: 85px;
  right: 85px;
  width: calc(100% - 3em);
  align-items: flex-start;
}

.selected-vid-blob {
  filter: opacity(0.5);
}

.library-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.library-item > .item-pad {
  z-index: -10;
  padding: 100px;
}

.item-pad {
  position: absolute;
  padding: 90px;
  background-color: #607D8B;
}

.align-end {
  align-self: flex-end;
}

.video-thumbnail {
  height: 180px;
  width: 180px;
}

.circle1 {
  z-index: 1;
}

.circle2 {
  top: 50px;
}

.circle3 {
  top: 50px;
  left: -120px;
}

.circle4 {
  top: 30px;
  left: -60px;
}

.circle5 {
  top: 100px;
  left: -150px;
}

.circle6 {
  top: 100px;
  left: 120px;
}

.small-circle {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  position: absolute;
  background-color: rgb(222 227 235);
}

.mid-circle { 
  height: 150px;
  width: 150px;
  border-radius: 100%;
  position: absolute;
  background-color: rgb(222 227 235);
}

.large-circle {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  position: absolute;
  background-color: rgb(222 227 235);
}

#cloud-1 {
  animation: drift_cloud1 27s linear 9s infinite;
  opacity: 0.9;
  left: 120%;
  top: 60px;
  max-width: 90vw;
}

#cloud-2 {
  opacity: 0.87;
  right: -60%;
  top: 130px;
  scale: 0.75;
  animation: drift_cloud2 50s linear 14s infinite;
  max-width: 90vw;
}

.big-cloud {
  position: absolute;
  box-shadow: 10px 10px 5px 20px black inset;
}

button:hover .white,
button:focus .white,
a:hover .white,
a:focus .white,
.white:hover svg,
.white:focus svg {
  fill: #ffff !important;
}

.white svg {
  transition: fill 200ms ease;
}

button.settings svg {
  fill: #b3b3b3;
  transition: fill 100ms ease-out;
}

button.settings {
  margin-right: 25px;
  display: flex;
  align-items: center;
  position: relative;
}

.settings-after {
  position: absolute;
  opacity: 0;
  transition: opacity ease 150ms;
  padding: 20px;
}

.settings-after * {
  opacity: 0;
}

.settings-after.open {
  opacity: 1;
  margin-top: 10px;
  margin-right: -40px;
  background: white;
  border-radius: 5%;
  width: 250px;
  height: 320px;
  top: 60px;
  transform: translateX(-120px);
  display: grid;
padding: 10px;
  text-align: center;
  font-size: 14px;
}

.settings-after.open * {
  opacity: unset;
}

.settings-after.open > * {
  justify-self: center;
  align-self: center;
}


.model-choices {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}

.model-config span {
  align-self: center;  
}

.settings-row.model-config {
  display: grid;
  gap: 10px;
  padding-bottom: 15px;
}

.model-choice {
  background: rgb(219, 230, 239, 0.5);
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.sidebar svg {
  cursor: default;
}

.auth-input { 
  opacity: 0;
}

div.settings-choice span {
  display: block;
  margin: 15px;
}

.submit-input input,
input.submit-input,
.submit-btn {
  background: rgb(219, 230, 239, 0.5);
  border: none;
  padding: 10px;
  width: 180px;
  margin-top: 10px;
  border-radius: 20px;
  transition: background-color ease 100ms;
}

.submit-input input:focus,
input.submit-input:focus,
button.submit {
  scale: 0.9;
}

.submit-input input:hover,
input.submit-input:hover,
button.submit,
.submit-btn:hover {
  background: rgb(190, 198, 205, 1);
}

.model-choice:hover {
  background: rgb(219, 230, 239, 1);
}

.settings-choice.num-frames input {
  text-align: center;
  margin-left: 15px;
}

input[type='button'].active {
  background: #5b9bb8 !important;
  transition: background-color 200ms ease;
}

.form-info p {
  width: 80%;
}

.backdrop {
  width: 100%;
  max-width: calc(100vw - 4em);
  height: 420px;
  position: absolute;
  bottom: 0;
  left: 56px;
}

.trees-backdrop {
  height: 450px !important;
  left: 0;
  max-width: unset;
}

.trees-backdrop g {
  opacity: 0;
}

.trees-backdrop #tree-1,
.trees-backdrop #tree-2,
.trees-backdrop #tree-3,
.trees-backdrop #tree-4  {
  animation: show_tree 2s ease forwards
}

.trees-backdrop path {
  fill: #209520;
}

.trees-backdrop #tree-1 {
  animation-delay: 2000ms;
}


.trees-backdrop #tree-2 {
  animation-delay: 1000ms;
}

.trees-backdrop #tree-3 {
  animation-delay: 2500ms;
}

.trees-backdrop #tree-4 {
  animation-delay: 1600ms;
}

.trees-backdrop,
.tata-backdrop {
  animation: show_backdrop 3s ease-out forwards;
}

.bye-trees,
.bye-tata {
  animation: hide_backdrop 2s ease-in forwards;
}

.extract path {
  stroke-width: 1;
 }  

 .livestream-choices {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  width: 100%;
 }

 .livestream-choices.active {
  gap: 40px;
 }

 div.ask-continue {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: black;
  display: flex;
  opacity: 0.7;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
  gap: 15px;
 }
 
 div.ask-continue button {
  color: inherit;
  background: #5b9bb8;
  padding: 9px;
  border-radius: 12px;
  z-index: 11;
  pointer-events: all;
 }

 .stream-extras {
  display: grid;
  margin-left: 20px;
  row-gap: 12px;
  text-align: center;
  align-self: flex-end;
  margin-bottom: 40px;
 }

 .stream-extras a {
  font-size: 15px;
  padding: 9px;
  text-decoration: none;
  color: black;
 }

 .livestream-choice {
    display: grid;
    grid-template-rows: 10% auto;
    height: 360px;
    gap: 20px;
 }

 .livestream-choices button {
  cursor: pointer;
  border-radius: 10px;
 }

 .livestream {
  position: relative;
 }

 div.live-counter{
  position: relative;
  margin-bottom: 20px;
 }

 .live-counter.plus-one {
  animation: live_reward 200ms ease-out;
 }

 .live-counter span {
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(130deg, #000000, #004b7d);
    animation: text_flow 17s linear infinite
 }

 /* .live-capture.reward-container {
  position: absolute;
  bottom: 50%;
  left: 50%;
  opacity: 1;
  scale: 0.4; 
  animation: live_reward 2s ease-out 300ms forwards 
 }

 .live-capture.reward-container video {
  position: relative;
 } */

 .live-capture.reward-container span {
  position: absolute;
  top: 40%;
  left: 40%;
  font-size: 36px;
 }

 button.choose-livestream {
  background: rgb(219, 230, 239, 0.5);
  border-radius: 10px;
  width: 40%;
  justify-self: center;
  transition: background-color ease 100ms;
 }

 button.stop-livestream {
  background: #5b9bb8 !important;
  padding: 9px;
  border-radius: 12px;
 }

 button.stop-livestream:hover {
  opacity: 0.9;
 }

 button.stop-livestream:focus {
  scale: 0.9;
 }

button.choose-livestream:hover {
  scale: 1.1;
}

button.choose-livestream:focus {
  scale: 0.9;
}

div.slider-row.extras:not(.plural) {
  margin-bottom: 50px;
}

@media screen and (max-width: 1430px) {

  a.blob-anchor {
    padding-right: 20px;
    padding-bottom: 20px;
    margin-left: 140%;
  }

  .video-overlay video {
    width: 500px;
    padding-bottom: 60px;
  }

  .player-window {
    max-height: 800px;
  }

  .slider-row.extras {
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
  }

  .video-widgets {
    overflow: hidden;
  }
}

@media screen and (max-width: 1400px) {

  .form-info {
    letter-spacing: 0.2px;
    font-size: 15px;
  }

  #cloud-2 {
    scale: 0.65;
  }

  #cloud-1 {
    scale: 0.84;
  }
}

@media screen and (max-width: 1120px) {

  /* .actions-after {
    width: 285px;
    height: 380px;
  } */

  .action-window .form-window {
    width: 70%;
  }

  .action-window.action-popup {
    width: 90%;
  }

  #cloud-1 {
    scale: 0.77;
  }

  .action-popup.action-popup.clouds-display {
    width: 90%;
  }

  .player-extras.buttons.plural {
    margin-right: unset;
  }
}

@media screen and (max-width: 970px) {
  .video-overlay video {
    width: 440px;
  } 

  .feedback span {
    font-size: 13px;
    font-weight: 650;
    color: #5b5959;
  }

  a.blob-anchor {
    margin-left: 135%;
  }
}

@media screen and (max-height: 970px) {
  .vid-padding {
    display: none;
  }

  span.nav-library.nav-library.view-library {
    display: inline;
    margin-right: 65px;
  }
}

@media screen and (min-width: 970px) {
  a.blob-anchor {
    margin-left: 140%;
  }
}

@keyframes drift_cloud1 {

  from {
    left: 120%;
  }

  to {
    left: -20%;
  }
}

@keyframes drift_cloud2 {
    0% {
      left: 110%;
  }

  100% {
      left: -130%;
  }
}

@keyframes hide_backdrop {

  60% {
  transform: rotateX(90deg);
  }

  75% {
    width: 100%;
    height: 420px;
    opacity: 0;
  }

  100% {
    visibility: hidden;
    width: 0%;
    height: 0%;
    opacity: 0;
    transform: rotateX(90deg);
  }


}

@keyframes show_backdrop {

from {
  opacity: 0;
}

 to {
    opacity: 1;
  }
}

@keyframes show_library {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

@keyframes window_enter {
    from {
      top: -40px;
    } to {
      top: 20px;
    }
} 

@keyframes action_spin {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}

/* @keyframes btn_bounce {
  from {
    margin-bottom: 5px;
  } to {
    margin-bottom: 0px;
  }
}

@keyframes float_top {
  to {
    top: -20%;
  }
} */

@keyframes push_btn {
  from {
    scale: 0.89;
  }
  to {
    scale: unset;
  }
}

@keyframes live_reward {
0% {
  bottom: 0px;
} 50% {
  bottom: 10px;
} 100% {
  bottom: 0px;
}
}

@keyframes plus_one {
  0% {

  } 25% {
    fill: #5b9bb8;
  } 100% {

  }
}

@keyframes text_flow {
  to {
    background-position: 100vh;
  }
 }

 @keyframes extracting {
  0% {
    transform: rotate(0deg);
  } 100% {
    transform: rotate(360deg);
  }
 }

 @keyframes show_tree {

  from {
    opacity: 0;
     /* transform: matrix(0.734656, 0, 0, 0.736893, 432.04585, 350.689941);  */
   } to {
    opacity: 1; 
     /* transform: matrix(0.734656, 0, 0, 0.736893, 432.04585, -162.689941);  */
  }

  } 

/* this is keeping the background gradient scrollable */
.topbar.nav {
  position: fixed;
  width: 100%;
}

.background-gradient {
  width: 174%;
}

#cloud-1 {
  top: 90px;
} 

.cloud-container {
  position: relative;
}

span.cloud-count {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px; /* Adjust as needed */
  font-weight: bold;
  color: #000; /* Adjust as needed */
}
